.todays-weather{
    grid-area: todays-weather;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: #e7e7e7;
    
}
.todays-weather-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.todays-weather-info h1{
    font-size: 3em;
    font-weight: 500;
}
.todays-weather-rain{
    flex-grow: 1;
    opacity: 0.6;
    font-size: 0.9em;
}
.todays-weather-temp{
    font-weight: 700;
    font-size: 6em;
    vertical-align: middle;
}
.todays-weather-img{
    padding: 40px 20px;
    height: 100%;
}
.todays-weather-img img{
    height: 100%;
    
}

@media screen and (max-width: 480px){
    .todays-weather{
    padding: 5px 15px;
    height: 150px;
    
}
    .todays-weather-img{
        padding: 0;
        height: 100%;
}
.todays-weather-img img{
    height: 100%;
    
}
.todays-weather-info{
    justify-content: space-between;
}
.todays-weather-info h1{
    font-size: 1.5em;
}
.todays-weather-temp{
    font-size: 3em;
    
}
}