.todays-weather{
    grid-area: todays-weather;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: #e7e7e7;
}
.todays-weather-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.todays-weather-info h1{
    font-size: 3em;
    font-weight: 500;
}
.todays-weather-rain{
    flex-grow: 1;
    opacity: 0.6;
    font-size: 1em;
}
.todays-weather-temp{
    font-weight: 700;
    font-size: 6em;
    vertical-align: middle;
}
.todays-weather-img{
    padding: 50px 20px;
    height: 100%;
}
.todays-weather-img img{
    height: 100%;
    
}