.search-form{
    grid-area: search-form;
    display: flex;
    flex-direction: row;
}
.search-form input{
    display: block;
    outline: 0;
    border: 0;
    background-color: #1f2b3c;
    color: #e7e7e7;
    font-size: 1.2em;
    padding: 10px 25px;
    border-radius: 10px 0 0 10px;
    width: 100%;
}
.search-form input::placeholder{
    color: #e7e7e7;
    opacity: 0.7;
}
.search-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 0 10px 10px 0;
    border: 0;
    border-left: 1px solid black;
    outline: 0;
    background-color: #1f2b3c;
    text-align: center;
    fill:#e7e7e7;
}
.search-form button svg{
    width: 25px;
}
.search-form button:hover{
    fill: #1f2b3c;
    background-color: #e7e7e7;
    transition: 700ms;
}

.error{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: #FF9494;
}
