.todays-forecast-elem{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
    /* border: 1px solid yellow; */
}
.todays-forecast-elem-time{
    font-weight: 500;
    opacity: 0.5;
    font-size: 1.1em;
}
.todays-forecast-elem-temp{
    font-weight: 500;
    font-size: 1.5em;
}