.todays-air-conditions{
    grid-area: todays-air-conditions;

    padding: 25px;
    
    background-color: #1f2b3c;
    border-radius: 15px;
    color: #e7e7e7;
}
.todays-air-conditions h3{
    font-weight: 500;
    font-size: 0.8em;
    opacity: 0.5;
    text-align: left;
}
.todays-air-conditions-grid{
    padding: 20px 5px 5px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}
.todays-air-conditions-elem{
    display: flex;
}
.todays-air-conditions-elem img{
    align-self: flex-start;
    width: 40px;
}
.todays-air-conditions-elem-info{
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
}
.todays-air-conditions-elem-info>h4{
    font-weight: 400;
    font-size: 1.3em;
    opacity: 0.5;

}
.todays-air-conditions-elem-info>div{
    font-size: 2em;
    font-weight: 700;
    opacity: 0.8;
    padding-top: 5px;

}
.show-on-mobile{
    display: none;
}
@media screen and (max-width: 480px){
    .todays-air-conditions-elem img{
    align-self: flex-start;
    width: 25px;
}
.todays-air-conditions-elem-info{
    margin-left: 5px;
}
.todays-air-conditions-elem-info>h4{
    font-size: 1.2em;
}
.todays-air-conditions-elem-info>div{
    font-size: 1.7em;
}
.show-on-mobile{
    display: block;
}
}